<div class="flex flex-col min-h-screen">
  <div class="container mx-auto pt-1 pb-0 flex-grow">
      <section class="h-full">
        <app-scroll></app-scroll>
      </section>
  </div>
  
  <div class="container mx-auto pt-0 pb-1">
    <div class="flex flex-col md:flex-row gap-2">
      <section class="flex-1">
        <app-scroll-skills></app-scroll-skills>
      </section>
      
      <section class="flex-1">
        <app-scroll-certs></app-scroll-certs>
      </section>
    </div>
  </div>
</div>